.ScoringTable {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*max-width: 720px;*/
    margin: 20px;
    text-align: left;
}

.ScoringTable .scoreTiles {
    margin-left: 10px;
    color: #ccc;
    /*float: right;*/
}
.ScoringTable .scoreTiles span{
    margin-left: 4px;
    /*opacity: 0.7;*/
    padding: 1px;
    border: 1px dotted #eee;
}
.ScoringTable .turnScore {
    float: right;
    font-weight: bold;
    font-size: 15px;
    margin-right: 6px;
}


.ScoringTable .totalScore {
    float:right;
    border: 1px dashed #ccc;
    padding: 2px 6px;
}

.NoScores {
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}